<%- include('../partials/header') %>
    
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper green lighten-1">
            <a href="/questions/dashboard" class="brand-logo left">User Dashboard</a>
          <ul class="right">
            <li>
                <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
              </li>
            <li><%= user ? `Logged in as: ${user.name}` : "Not Logged In" %></li>
          </ul>
          </div>
        </nav>
      </div>
   <div id="students" class="col s12">
        
          <div class="card blue indigo accent-1">
            <div class="card-content white-text">
              <div>
                <span class="card-title">
                  <i class="small material-icons">perm_identity</i>
                  <span class="student-name"><%= "Edit Questions" %></span>
                  
                </span>
              </div>
              <ul class="collection ">
                <% user.questions.forEach(function(ques) { %>  
                  <li class="collection-item blue-grey-text text-darken-2">
                  <br>
                  <span class="title"><%- ques.text %></span>
                  <% if (user._id.equals(user && user._id)) { %>
                    <form action="/questions/<%= ques._id %>?_method=PUT" method="POST" class="secondary-content">
                      <div class="valign-wrapper right">
                      <input type="text" name="text" value="<%= 'Update' %>">
                    <button type="submit" class="btn-small white-text right">submit</button>
                  </div>
                </li>
                </form>
                <% } %>
            
              </li>
              
                <% }) %>
              </ul>
          
            </div>
          </div>   

<%- include('../partials/footer') %>